In [26]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [27]:
import pandas as pd
import numpy as np

In [28]:
pd.set_option('display.max_columns', None)

# 2. 파이썬을 통한 전처리
- 원본에서 밀려적힌것을 수작업으로 수정한 파일

In [29]:
meta2017 = pd.read_csv('/gdrive/MyDrive/2조/data/코드정리/Data_preprocessed/1차 전처리 : 수작업/KNOW_2017.csv',encoding = 'utf-8')
meta2018 = pd.read_csv('/gdrive/MyDrive/2조/data/코드정리/Data_preprocessed/1차 전처리 : 수작업/KNOW_2018.csv',encoding = 'utf-8')
meta2019 = pd.read_csv('/gdrive/MyDrive/2조/data/코드정리/Data_preprocessed/1차 전처리 : 수작업/KNOW_2019.csv',encoding = 'utf-8')
meta2020 = pd.read_csv('/gdrive/MyDrive/2조/data/코드정리/Data_preprocessed/1차 전처리 : 수작업/KNOW_2020.csv',encoding = 'utf-8')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (179) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
#knowcode 결측치 제거
meta2017 = meta2017[meta2017['knowcode'] != 9999999]
meta2018 = meta2018[meta2018['knowcode'] != 9999999]
meta2019 = meta2019[meta2019['knowcode'] != 9999999]
meta2020 = meta2020[meta2020['knowcode'] != 9999999]

In [31]:
metas = [meta2017,meta2018,meta2019,meta2020]

## 2-1. 텍스트 데이터 컬럼을 지운다
- 텍스트 관련 컬럼 사용은 추후에 진행

In [32]:
#텍스트 컬럼 지우기
meta2017 = meta2017.drop(['idx', 'bq4_1a', 'bq4_1b', 'bq4_1c', 'bq5_2', 'bq19_1', 'bq30','bq31', 'bq32', 'bq33', 'bq34', 'bq38_1'], axis = 1)
meta2018 = meta2018.drop(['idx', 'bq4_1a', 'bq4_1b', 'bq4_1c', 'bq5_2','bq28_1', 'bq29', 'bq30', 'bq31', 'bq32', 'bq33','bq37_1', 'bq40'], axis = 1)
meta2019 = meta2019.drop(['idx', 'bq4_1a', 'bq4_1b', 'bq4_1c', 'bq5_2','bq18_10', 'bq20_1', 'bq22', 'bq23', 'bq24', 'bq27_1'], axis = 1)
meta2020 = meta2020.drop(['idx', 'bq4_1a', 'bq4_1b', 'bq4_1c', 'bq5_2', 'bq18_10', 'bq18_10', 'bq20_1', 'bq26_1'], axis = 1)
metas = [meta2017,meta2018,meta2019,meta2020]
for meta in metas:
  print(len(meta.columns))

144
128
142
177

텍스트 컬럼 제거한 나머지 컬럼들 확인

컬럼이 많아서 따로 함수를 써서 본다

In [33]:
#info 돌아가면서 확인
def all_col_info(metas): 
  year = 2017
  for meta in metas:
      for i in range(25,len(meta.columns),25):
          print(year)
          meta[meta.columns[i-25:i]].info()
      meta[meta.columns[i:]].info()
      year += 1
      print()

In [34]:
all_col_info(metas)

2017
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9104 entries, 0 to 9485
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   aq1_1   9104 non-null   int64
 1   aq1_2   9104 non-null   object
 2   aq2_1   9104 non-null   int64
 3   aq2_2   9104 non-null   object
 4   aq3_1   9104 non-null   int64
 5   aq3_2   9104 non-null   object
 6   aq4_1   9104 non-null   int64
 7   aq4_2   9104 non-null   object
 8   aq5_1   9104 non-null   int64
 9   aq5_2   9104 non-null   object
 10  aq6_1   9104 non-null   int64
 11  aq6_2   9104 non-null   object
 12  aq7_1   9104 non-null   int64
 13  aq7_2   9104 non-null   object
 14  aq8_1   9104 non-null   int64
 15  aq8_2   9104 non-null   object
 16  aq9_1   9104 non-null   int64
 17  aq9_2   9104 non-null   object
 18  aq10_1  9104 non-null   int64
 19  aq10_2  9104 non-null   object
 20  aq11_1  9104 non-null   int64
 21  aq11_2  9104 non-null   object
 22  aq12_1  9104 non-null   int64
 23  aq12_2  9104 non-null   object
 24  aq13_1  9104 non-null   int64
dtypes: int64(13), object(12)
memory usage: 1.8+ MB
2017
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9104 entries, 0 to 9485
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   aq13_2  9104 non-null   object
 1   aq14_1  9104 non-null   int64
 2   aq14_2  9104 non-null   object
 3   aq15_1  9104 non-null   int64
 4   aq15_2  9104 non-null   object
 5   aq16_1  9104 non-null   int64
 6   aq16_2  9104 non-null   object
 7   aq17_1  9104 non-null   int64
 8   aq17_2  9104 non-null   object
 9   aq18_1  9104 non-null   int64
 10  aq18_2  9104 non-null   object
 11  aq19_1  9104 non-null   int64
 12  aq19_2  9104 non-null   object
 13  aq20_1  9104 non-null   int64
 14  aq20_2  9104 non-null   object
 15  aq21_1  9104 non-null   int64
 16  aq21_2  9104 non-null   object
 17  aq22_1  9104 non-null   int64
 18  aq22_2  9104 non-null   object
 19  aq23_1  9104 non-null   int64
 20  aq23_2  9104 non-null   object
 21  aq24_1  9104 non-null   int64
 22  aq24_2  9104 non-null   object
 23  aq25_1  9104 non-null   int64
 24  aq25_2  9104 non-null   object
dtypes: int64(12), object(13)
memory usage: 1.8+ MB
2017
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9104 entries, 0 to 9485
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   aq26_1  9104 non-null   int64
 1   aq26_2  9104 non-null   object
 2   aq27_1  9104 non-null   int64
 3   aq27_2  9104 non-null   object
 4   aq28_1  9104 non-null   int64
 5   aq28_2  9104 non-null   object
 6   aq29_1  9104 non-null   int64
 7   aq29_2  9104 non-null   object
 8   aq30_1  9104 non-null   int64
 9   aq30_2  9104 non-null   object
 10  aq31_1  9104 non-null   int64
 11  aq31_2  9104 non-null   object
 12  aq32_1  9104 non-null   int64
 13  aq32_2  9104 non-null   object
 14  aq33_1  9104 non-null   int64
 15  aq33_2  9104 non-null   object
 16  aq34_1  9104 non-null   int64
 17  aq34_2  9104 non-null   object
 18  aq35_1  9104 non-null   int64
 19  aq35_2  9104 non-null   object
 20  aq36_1  9104 non-null   int64
 21  aq36_2  9104 non-null   object
 22  aq37_1  9104 non-null   int64
 23  aq37_2  9104 non-null   object
 24  aq38_1  9104 non-null   int64
dtypes: int64(13), object(12)
memory usage: 1.8+ MB
2017
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9104 entries, 0 to 9485
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   aq38_2  9104 non-null   object
 1   aq39_1  9104 non-null   int64
 2   aq39_2  9104 non-null   object
 3   aq40_1  9104 non-null   int64
 4   aq40_2  9104 non-null   object
 5   aq41_1  9104 non-null   int64
 6   aq41_2  9104 non-null   object
 7   bq1     9104 non-null   int64
 8   bq2     9104 non-null   int64
 9   bq3     9104 non-null   int64
 10  bq4     9104 non-null   int64
 11  bq5     9104 non-null   int64
 12  bq5_1   9104 non-null   object
 13  bq6     9104 non-null   int64
 14  bq7     9104 non-null   int64
 15  bq8_1   9104 non-null   int64
 16  bq8_2   9104 non-null   int64
 17  bq8_3   9104 non-null   int64
 18  bq9     9104 non-null   int64
 19  bq10    9104 non-null   int64
 20  bq11    9104 non-null   int64
 21  bq12_1  9104 non-null   int64
 22  bq12_2  9104 non-null   object
 23  bq12_3  9104 non-null   object
 24  bq12_4  9104 non-null   object
dtypes: int64(17), object(8)
memory usage: 1.8+ MB
2017
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9104 entries, 0 to 9485
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bq12_5  9104 non-null   int64
 1   bq13    9104 non-null   int64
 2   bq14    9104 non-null   int64
 3   bq15_1  9104 non-null   int64
 4   bq15_2  9104 non-null   int64
 5   bq15_3  9104 non-null   int64
 6   bq16    9104 non-null   int64
 7   bq17    9104 non-null   int64
 8   bq18_1  9104 non-null   int64
 9   bq18_2  9104 non-null   int64
 10  bq18_3  9104 non-null   int64
 11  bq18_4  9104 non-null   int64
 12  bq18_5  9104 non-null   int64
 13  bq18_6  9104 non-null   int64
 14  bq18_7  9104 non-null   int64
 15  bq19    9104 non-null   int64
 16  bq20    9104 non-null   int64
 17  bq21    9104 non-null   int64
 18  bq22    9104 non-null   int64
 19  bq23    9104 non-null   float64
 20  bq24_1  9104 non-null   int64
 21  bq24_2  9104 non-null   int64
 22  bq24_3  9104 non-null   int64
 23  bq24_4  9104 non-null   int64
 24  bq24_5  9104 non-null   int64
dtypes: float64(1), int64(24)
memory usage: 1.8 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9104 entries, 0 to 9485
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bq24_6    9104 non-null   int64
 1   bq24_7    9104 non-null   int64
 2   bq24_8    9104 non-null   int64
 3   bq25      9104 non-null   int64
 4   bq26      9104 non-null   int64
 5   bq27      9104 non-null   int64
 6   bq28      9104 non-null   int64
 7   bq29      9104 non-null   int64
 8   bq35      9104 non-null   int64
 9   bq36      9104 non-null   int64
 10  bq37      9104 non-null   int64
 11  bq38      9104 non-null   int64
 12  bq39_1    9104 non-null   int64
 13  bq39_2    9104 non-null   int64
 14  bq40      9104 non-null   object
 15  bq41_1    9104 non-null   object
 16  bq41_2    9104 non-null   object
 17  bq41_3    9104 non-null   object
 18  knowcode  9104 non-null   int64
dtypes: int64(15), object(4)
memory usage: 1.4+ MB

2018
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9072 entries, 0 to 9071
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cq1     9072 non-null   int64
 1   cq2     9072 non-null   int64
 2   cq3     9072 non-null   int64
 3   cq4     9072 non-null   int64
 4   cq5     9072 non-null   int64
 5   cq6     9072 non-null   int64
 6   cq7     9072 non-null   int64
 7   cq8     9072 non-null   int64
 8   cq9     9072 non-null   int64
 9   cq10    9072 non-null   int64
 10  cq11    9072 non-null   int64
 11  cq12    9072 non-null   int64
 12  cq13    9072 non-null   int64
 13  cq14    9072 non-null   int64
 14  cq15    9072 non-null   int64
 15  cq16    9072 non-null   int64
 16  cq17    9072 non-null   int64
 17  cq18    9072 non-null   int64
 18  cq19    9072 non-null   int64
 19  cq20    9072 non-null   int64
 20  cq21    9072 non-null   int64
 21  cq22    9072 non-null   int64
 22  cq23    9072 non-null   int64
 23  cq24    9072 non-null   int64
 24  cq25    9072 non-null   int64
dtypes: int64(25)
memory usage: 1.8 MB
2018
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9072 entries, 0 to 9071
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cq26    9072 non-null   int64
 1   cq27    9072 non-null   int64
 2   cq28    9072 non-null   int64
 3   cq29    9072 non-null   int64
 4   cq30    9072 non-null   int64
 5   cq31    9072 non-null   int64
 6   cq32    9072 non-null   int64
 7   cq33    9072 non-null   int64
 8   cq34    9072 non-null   int64
 9   cq35    9072 non-null   int64
 10  cq36    9072 non-null   int64
 11  cq37    9072 non-null   int64
 12  cq38    9072 non-null   int64
 13  cq39    9072 non-null   int64
 14  cq40    9072 non-null   int64
 15  cq41    9072 non-null   int64
 16  cq42    9072 non-null   int64
 17  cq43    9072 non-null   int64
 18  cq44    9072 non-null   int64
 19  cq45    9072 non-null   int64
 20  cq46    9072 non-null   int64
 21  cq47    9072 non-null   int64
 22  cq48    9041 non-null   float64
 23  cq49    9072 non-null   int64
 24  cq50_1  9072 non-null   int64
dtypes: float64(1), int64(24)
memory usage: 1.8 MB
2018
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9072 entries, 0 to 9071
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cq50_2  9072 non-null   int64
 1   cq50_3  9072 non-null   int64
 2   cq50_4  9072 non-null   int64
 3   cq50_5  9072 non-null   int64
 4   cq50_6  9072 non-null   int64
 5   cq50_7  9072 non-null   int64
 6   cq50_8  9072 non-null   int64
 7   iq1     9072 non-null   int64
 8   iq2     9072 non-null   int64
 9   iq3     9072 non-null   int64
 10  iq4     9072 non-null   int64
 11  iq5     9072 non-null   int64
 12  iq6     9072 non-null   int64
 13  bq1     9072 non-null   int64
 14  bq2     9072 non-null   int64
 15  bq3     9072 non-null   int64
 16  bq4     9072 non-null   int64
 17  bq5     9072 non-null   int64
 18  bq5_1   4715 non-null   float64
 19  bq6     9072 non-null   int64
 20  bq7     9072 non-null   int64
 21  bq8_1   9072 non-null   int64
 22  bq8_2   9072 non-null   int64
 23  bq8_3   9072 non-null   int64
 24  bq9     9072 non-null   int64
dtypes: float64(1), int64(24)
memory usage: 1.8 MB
2018
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9072 entries, 0 to 9071
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bq10    9072 non-null   int64
 1   bq11    9072 non-null   int64
 2   bq12_1  9071 non-null   float64
 3   bq12_2  7898 non-null   float64
 4   bq12_3  8064 non-null   float64
 5   bq12_4  8322 non-null   float64
 6   bq12_5  9072 non-null   int64
 7   bq13    9072 non-null   int64
 8   bq14    9072 non-null   int64
 9   bq15    9072 non-null   int64
 10  bq16    9072 non-null   int64
 11  bq17    9072 non-null   int64
 12  bq18    9072 non-null   int64
 13  bq19    9072 non-null   int64
 14  bq20    9072 non-null   int64
 15  bq21    9072 non-null   int64
 16  bq221   7146 non-null   float64
 17  bq222   1244 non-null   float64
 18  bq223   9072 non-null   int64
 19  bq231   6820 non-null   float64
 20  bq232   9072 non-null   int64
 21  bq233   9072 non-null   int64
 22  bq234   9072 non-null   int64
 23  bq235   1314 non-null   float64
 24  bq241   5514 non-null   float64
dtypes: float64(9), int64(16)
memory usage: 1.8 MB
2018
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9072 entries, 0 to 9071
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   bq242    1546 non-null   float64
 1   bq243    133 non-null    float64
 2   bq244    469 non-null    float64
 3   bq245    1526 non-null   float64
 4   bq25     9072 non-null   int64
 5   bq25_1   8239 non-null   float64
 6   bq26_1   9072 non-null   int64
 7   bq26_1a  6684 non-null   float64
 8   bq26_2   9072 non-null   int64
 9   bq26_2a  7292 non-null   float64
 10  bq26_3   9072 non-null   int64
 11  bq26_3a  6500 non-null   float64
 12  bq26_4   9072 non-null   int64
 13  bq26_4a  6268 non-null   float64
 14  bq27     9072 non-null   int64
 15  bq28     9072 non-null   int64
 16  bq34     9071 non-null   float64
 17  bq35     9071 non-null   float64
 18  bq36     9071 non-null   float64
 19  bq37     9071 non-null   float64
 20  bq38     9071 non-null   float64
 21  bq38_1   7807 non-null   float64
 22  bq38_2   1264 non-null   float64
 23  bq39     7774 non-null   float64
 24  bq41_1   7801 non-null   float64
dtypes: float64(18), int64(7)
memory usage: 1.8 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9072 entries, 0 to 9071
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bq41_2    7714 non-null   float64
 1   bq41_3    1250 non-null   float64
 2   knowcode  9072 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 283.5 KB

2019
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8555 entries, 0 to 8554
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sq1     8555 non-null   int64
 1   sq2     8555 non-null   int64
 2   sq3     8555 non-null   int64
 3   sq4     8555 non-null   int64
 4   sq5     8555 non-null   int64
 5   sq6     8555 non-null   int64
 6   sq7     8555 non-null   int64
 7   sq8     8555 non-null   int64
 8   sq9     8555 non-null   int64
 9   sq10    8555 non-null   int64
 10  sq11    8555 non-null   int64
 11  sq12    8555 non-null   int64
 12  sq13    8555 non-null   int64
 13  sq14    8555 non-null   int64
 14  sq15    8555 non-null   int64
 15  sq16    8555 non-null   int64
 16  kq1_1   8555 non-null   int64
 17  kq1_2   8555 non-null   int64
 18  kq2_1   8555 non-null   int64
 19  kq2_2   8555 non-null   int64
 20  kq3_1   8555 non-null   int64
 21  kq3_2   8555 non-null   int64
 22  kq4_1   8555 non-null   int64
 23  kq4_2   8555 non-null   int64
 24  kq5_1   8555 non-null   int64
dtypes: int64(25)
memory usage: 1.7 MB
2019
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8555 entries, 0 to 8554
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kq5_2   8555 non-null   int64
 1   kq6_1   8555 non-null   int64
 2   kq6_2   8555 non-null   int64
 3   kq7_1   8555 non-null   int64
 4   kq7_2   8555 non-null   int64
 5   kq8_1   8555 non-null   int64
 6   kq8_2   8555 non-null   int64
 7   kq9_1   8555 non-null   int64
 8   kq9_2   8555 non-null   int64
 9   kq10_1  8555 non-null   int64
 10  kq10_2  8555 non-null   int64
 11  kq11_1  8555 non-null   int64
 12  kq11_2  8555 non-null   int64
 13  kq12_1  8555 non-null   int64
 14  kq12_2  8555 non-null   int64
 15  kq13_1  8555 non-null   int64
 16  kq13_2  8555 non-null   int64
 17  kq14_1  8555 non-null   int64
 18  kq14_2  8555 non-null   int64
 19  kq15_1  8555 non-null   int64
 20  kq15_2  8555 non-null   int64
 21  kq16_1  8555 non-null   int64
 22  kq16_2  8555 non-null   int64
 23  kq17_1  8555 non-null   int64
 24  kq17_2  8555 non-null   int64
dtypes: int64(25)
memory usage: 1.7 MB
2019
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8555 entries, 0 to 8554
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kq18_1  8555 non-null   int64
 1   kq18_2  8555 non-null   int64
 2   kq19_1  8555 non-null   int64
 3   kq19_2  8555 non-null   int64
 4   kq20_1  8555 non-null   int64
 5   kq20_2  8555 non-null   int64
 6   kq21_1  8555 non-null   int64
 7   kq21_2  8555 non-null   int64
 8   kq22_1  8555 non-null   int64
 9   kq22_2  8555 non-null   int64
 10  kq23_1  8555 non-null   int64
 11  kq23_2  8555 non-null   int64
 12  kq24_1  8555 non-null   int64
 13  kq24_2  8555 non-null   int64
 14  kq25_1  8555 non-null   int64
 15  kq25_2  8555 non-null   int64
 16  kq26_1  8555 non-null   int64
 17  kq26_2  8555 non-null   int64
 18  kq27_1  8555 non-null   int64
 19  kq27_2  8555 non-null   int64
 20  kq28_1  8555 non-null   int64
 21  kq28_2  8555 non-null   int64
 22  kq29_1  8555 non-null   int64
 23  kq29_2  8555 non-null   int64
 24  kq30_1  8555 non-null   int64
dtypes: int64(25)
memory usage: 1.7 MB
2019
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8555 entries, 0 to 8554
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kq30_2  8555 non-null   int64
 1   kq31_1  8555 non-null   int64
 2   kq31_2  8555 non-null   int64
 3   kq32_1  8555 non-null   int64
 4   kq32_2  8555 non-null   int64
 5   kq33_1  8555 non-null   int64
 6   kq33_2  8555 non-null   int64
 7   bq1     8555 non-null   int64
 8   bq2     8555 non-null   int64
 9   bq3     8555 non-null   int64
 10  bq4     8555 non-null   int64
 11  bq5     8555 non-null   int64
 12  bq5_1   4566 non-null   float64
 13  bq6     8555 non-null   int64
 14  bq7     8555 non-null   int64
 15  bq8_1   8555 non-null   int64
 16  bq8_2   8555 non-null   int64
 17  bq8_3   8555 non-null   int64
 18  bq9     8555 non-null   int64
 19  bq10    8555 non-null   int64
 20  bq11    8555 non-null   int64
 21  bq12_1  8555 non-null   int64
 22  bq12_2  8555 non-null   int64
 23  bq12_3  8555 non-null   int64
 24  bq12_4  8555 non-null   int64
dtypes: float64(1), int64(24)
memory usage: 1.7 MB
2019
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8555 entries, 0 to 8554
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bq12_5  8555 non-null   int64
 1   bq13_1  8555 non-null   int64
 2   bq13_2  8555 non-null   int64
 3   bq13_3  8555 non-null   int64
 4   bq14_1  8555 non-null   int64
 5   bq14_2  8555 non-null   int64
 6   bq14_3  8555 non-null   int64
 7   bq14_4  8555 non-null   int64
 8   bq14_5  8555 non-null   int64
 9   bq15    8555 non-null   int64
 10  bq16_1  8555 non-null   int64
 11  bq16_2  8555 non-null   int64
 12  bq16_3  8555 non-null   int64
 13  bq16_4  8555 non-null   int64
 14  bq16_5  8555 non-null   int64
 15  bq17    8555 non-null   int64
 16  bq18_1  8555 non-null   int64
 17  bq18_2  8555 non-null   int64
 18  bq18_3  8555 non-null   int64
 19  bq18_4  8555 non-null   int64
 20  bq18_5  8555 non-null   int64
 21  bq18_6  8555 non-null   int64
 22  bq18_7  8555 non-null   int64
 23  bq18_8  8555 non-null   int64
 24  bq18_9  8555 non-null   int64
dtypes: int64(25)
memory usage: 1.7 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8555 entries, 0 to 8554
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bq19      8555 non-null   int64
 1   bq20      8551 non-null   float64
 2   bq21_1    8555 non-null   int64
 3   bq21_2    8555 non-null   int64
 4   bq21_3    8553 non-null   float64
 5   bq25      8554 non-null   float64
 6   bq26      8554 non-null   float64
 7   bq27      8554 non-null   float64
 8   bq28      8554 non-null   float64
 9   bq28_1    7289 non-null   float64
 10  bq28_2    1265 non-null   float64
 11  bq29      7289 non-null   float64
 12  bq30      8534 non-null   float64
 13  bq31_1    7141 non-null   float64
 14  bq31_2    7060 non-null   float64
 15  bq31_3    1212 non-null   float64
 16  knowcode  8555 non-null   int64
dtypes: float64(13), int64(4)
memory usage: 1.2 MB

2020
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8122 entries, 0 to 8121
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   saq1_1   8122 non-null   int64
 1   saq1_2   8122 non-null   object
 2   saq2_1   8122 non-null   int64
 3   saq2_2   8122 non-null   object
 4   saq3_1   8122 non-null   int64
 5   saq3_2   8122 non-null   object
 6   saq4_1   8122 non-null   int64
 7   saq4_2   8122 non-null   object
 8   saq5_1   8122 non-null   int64
 9   saq5_2   8122 non-null   object
 10  saq6_1   8122 non-null   int64
 11  saq6_2   8122 non-null   object
 12  saq7_1   8122 non-null   int64
 13  saq7_2   8122 non-null   object
 14  saq8_1   8122 non-null   int64
 15  saq8_2   8122 non-null   object
 16  saq9_1   8122 non-null   int64
 17  saq9_2   8122 non-null   object
 18  saq10_1  8122 non-null   int64
 19  saq10_2  8122 non-null   object
 20  saq11_1  8122 non-null   int64
 21  saq11_2  8122 non-null   object
 22  saq12_1  8122 non-null   int64
 23  saq12_2  8122 non-null   object
 24  saq13_1  8122 non-null   int64
dtypes: int64(13), object(12)

숫자로 되어있는 컬럼들이지만 스트링으로 저장된 것을 볼 수 있다
- 이유1: 설문지 결측치를 ' ' 으로 저장했기때문
- 이유2: 숫자값이 스트링으로 저장되어있기 때문

## 2-2. 결측치 처리 및 Int로 통일

### 결측치 처리

In [35]:
#결측치 처리 ' '으로 입력된걸 진짜 결측인 np.nan으로 바꿔줌
year = 2017
metas = [meta2017,meta2018,meta2019,meta2020]
for meta in metas:
    print(year)
    for col in  list(meta.columns):
        for i in range(len(meta)):
            if meta[col].iloc[i] == ' ':
              meta[col].iloc[i] = np.nan
    year +=1

2017

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

2018
2019
2020

결측치를 0으로 바꿔줌

(결측치를 최빈값으로 바꿔도 줘봤으나 성능떨어짐

In [36]:
#결측치 0으로 바꾸기
meta2017.fillna(0,inplace = True)
meta2018.fillna(0,inplace = True)
meta2019.fillna(0,inplace = True)
meta2020.fillna(0,inplace = True)

모든 값들을 Int 로 바꿔줌

In [37]:
#float 및 string 형태의 컬럼들을 int 형태로 바꿔줌
metas = [meta2017,meta2018,meta2019,meta2020]
year = 2017
for meta in metas:
  for col in meta.columns:
    meta[col] = pd.to_numeric(meta[col], errors = 'coerce') #혹시라도 컬럼에 값들을 숫자로 바꾸는데 숫자형이 아닌게 있으면 강제로 nan으로 바꿔준다
    meta[col].fillna(0,inplace = True)#그 후 nan값을 0으로 바꿔줌
    meta[col] = meta[col].astype(int)
  print(year)
  year +=1

2017
2018
2019
2020

## 2-3. 특정 년도 전처리
- 중복체크에 대한 문항 전처리 (2018년)

중복대답을 요구하는 컬럼

- 설문지에서 22번 문항은 하나이나 중복대답인 질문이므로 3개에 컬럼에 나눠 적혀있음)
- 답이 1,3이면 221 컬럼과 223 컬럼에 각각 1,3이 적혀있고 222 컬럼에 0이 적혀야 함
- 근데 작성자의 착각으로 221 컬럼에 다른 컬럼 답이 적혀있기도 해서 원래 위치로 보내줘야함

In [38]:
# 정답을 원래위치로 보내주는 함수
def to_other_col(col1,col2,df,number):
  part = df[df[col1] == number]
  wronglist = list(part.index)
  df[col1][wronglist] = 0
  df[col2][wronglist] = number

### 2018년도

맨앞 컬럼에 다른 컬럼 답들이 있다

In [39]:
print(meta2018['bq221'].unique())
print(meta2018['bq222'].unique())
print(meta2018['bq223'].unique())

[1 0 2 3]
[0 2]
[0 3]

In [40]:
to_other_col('bq221','bq222',meta2018, 2)
to_other_col('bq221','bq223',meta2018, 3)

함수 적용 후 한 각 컬럼에 맞게 답이 들어있게되었다

In [41]:
print(meta2018['bq221'].unique())
print(meta2018['bq222'].unique())
print(meta2018['bq223'].unique())

[1 0]
[0 2]
[0 3]

마찬가지로 다른 중복질문 컬럼에도 적용

In [42]:
print(meta2018['bq231'].unique())
print(meta2018['bq232'].unique())
print(meta2018['bq233'].unique())
print(meta2018['bq234'].unique())
print(meta2018['bq235'].unique())

[1 0 2 5 4 3]
[0 2 4 3]
[0 3]
[0 4]
[0 5]

In [43]:
to_other_col('bq231','bq232',meta2018, 2)
to_other_col('bq231','bq233',meta2018, 3)
to_other_col('bq231','bq234',meta2018, 4)
to_other_col('bq231','bq235',meta2018, 5)
to_other_col('bq232','bq233',meta2018, 3)
to_other_col('bq232','bq234',meta2018, 4)

In [44]:
print(meta2018['bq231'].unique())
print(meta2018['bq232'].unique())
print(meta2018['bq233'].unique())
print(meta2018['bq234'].unique())
print(meta2018['bq235'].unique())

[1 0]
[0 2]
[0 3]
[0 4]
[0 5]

그 다음 컬럼

In [45]:
print(meta2018['bq241'].unique())
print(meta2018['bq242'].unique())
print(meta2018['bq243'].unique())
print(meta2018['bq244'].unique())
print(meta2018['bq245'].unique())

[1 0 4 2 5]
[0 2 3]
[0 3]
[0 4]
[0 5]

In [46]:
to_other_col('bq241','bq242',meta2018, 2)
to_other_col('bq241','bq244',meta2018, 4)
to_other_col('bq241','bq245',meta2018, 5)
to_other_col('bq242','bq243',meta2018, 3)

In [47]:
print(meta2018['bq241'].unique())
print(meta2018['bq242'].unique())
print(meta2018['bq243'].unique())
print(meta2018['bq244'].unique())
print(meta2018['bq245'].unique())

[1 0]
[0 2]
[0 3]
[0 4]
[0 5]

## 2-4. 특정 컬럼 One Hot Encoding
- 개인의 주관적인 답변이 들어간 값들을 제외한 것들에 대해 One Hot Encoding 진행
- 답이 2개인것은 컬럼 두개로 나눈다
- 카테고리로 분류할 수 있는 질문 (예 - 학력 수준 등등) 은 답변 갯수만큼 컬럼 생성
- 나누는 기준은 우리팀의 주관대로하여 엑셀에 저장해둠
- 아래 불러옴

One Hot Encoding 대상인 컬럼들

In [48]:
#컬럼별로 바꾸려는 타입설정
col_set2017 = pd.read_excel('/gdrive/MyDrive/2조/data/코드정리/전처리 할 것 정리/2017컬럼.xlsx')
col_set2018 = pd.read_excel('/gdrive/MyDrive/2조/data/코드정리/전처리 할 것 정리/2018컬럼.xlsx')
col_set2019 = pd.read_excel('/gdrive/MyDrive/2조/data/코드정리/전처리 할 것 정리/2019컬럼.xlsx')
col_set2020 = pd.read_excel('/gdrive/MyDrive/2조/data/코드정리/전처리 할 것 정리/2020컬럼.xlsx')

In [49]:
col_set2017

    columns type Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
0     aq1_1  int        NaN        NaN        NaN        NaN
1     aq1_2  int        NaN        NaN        NaN        NaN
2     aq2_1  int        NaN        NaN        NaN        NaN
3     aq2_2  int        NaN        NaN        NaN        NaN
4     aq3_1  int        NaN        NaN        NaN        NaN
..      ...  ...        ...        ...        ...        ...
149  bq39_2  cat        NaN        NaN        NaN        NaN
150    bq40   bi        NaN        NaN        NaN        NaN
151  bq41_1  int        NaN        NaN        NaN        NaN
152  bq41_2  int        NaN        NaN        NaN        NaN
153  bq41_3  int        NaN        NaN        NaN        NaN

[154 rows x 6 columns]

In [50]:
print(col_set2017['type'].unique())
print(col_set2018['type'].unique())
print(col_set2019['type'].unique())
print(col_set2020['type'].unique())

['int' 'cat' 'bi' 'text']
['int' 'cat' 'bi2' 'bi' 'text' 'bi3' 'concat']
['int' 'cat' 'bi' 'text' 'concat']
['int' 'cat' 'bi' 'text']

1. cat: category 별로 one hot encoding -> 학벌수준 등등
2. bi: 1이 Yes이고 2가 No인 질문 또는 성별같은 질문 -> 하나의 컬럼으로 만들어 yes에 해당하는 값을 1로하고 NO에 해당하는것을 0으로
3. bi2: 보기가 3개 이상이지만 binary 형태로 남기고 싶은 질문 -> 1. 없다 2. 적당히 있다 3. 항상 있다 이런 식으로 있을때 2,3을 있다로 묶어주고 1과 3을 떨군다
4. bi3: 중복질문 형태라 이전 전처리 (2-3) 에서 이미 0과 다른값으로 남겨진 컬럼 -> 컬럼 구성이 0,1 또는 0,2 또는 0,3 이런식이라 모두 0,1의 형태로 바꿔줌
5. 'concat' : 보기가 1~7인 질문인데 답변이 1~4인것과 5~7인것이 나눠져있어서 합쳐줘야함
6. 'text' : 'text' 값인 컬럼 -> 이미 사전에 제거했다

In [51]:
def we_get_dummies(df,col_df):
  for idx in range(len(col_df)):
    col_name = col_df['columns'].iloc[idx]
    col_type = col_df['type'].iloc[idx]

    if col_type == 'cat':
      df = pd.get_dummies(df, columns = [col_name],prefix_sep = '__')
      try:
        df = df.drop(f'{col_name}__0',axis = 1)
      except:
        pass
    elif col_type == 'bi':
      df = pd.get_dummies(df, columns = [col_name],prefix_sep = '___')
      df = df.drop(f'{col_name}___2',axis = 1)
      try:
        df = df.drop(f'{col_name}___0',axis = 1)
      except:
        pass
    elif col_type == 'bi2':
      df = pd.get_dummies(df, columns = [col_name],prefix_sep = '___')
      try:
        df[f'{col_name}___1'] = df[f'{col_name}___1'] + df[f'{col_name}___2']
        df = df.drop(f'{col_name}___2',axis = 1)
      except:
        df = df.drop(f'{col_name}___1',axis = 1)
      try:
        df = df.drop(f'{col_name}___0',axis = 1)
      except:
        pass
    elif col_type == 'bi3':
      for i in range(len(df)):
        if df[col_name].iloc[i] != 0:
          df[col_name].iloc[i] = 1
    
  return df

In [52]:
meta2017 = we_get_dummies(meta2017,col_set2017)
meta2018 = we_get_dummies(meta2018,col_set2018)
meta2019 = we_get_dummies(meta2019,col_set2019)
meta2020 = we_get_dummies(meta2020,col_set2020)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [53]:
def column_merge(df, col_df):
  concat_list = []
  for idx in range(len(col_df)):
    col_name = col_df['columns'].iloc[idx]
    col_type = col_df['type'].iloc[idx]

    if col_type == 'concat':
      concat_list.append(col_df['columns'].iloc[idx])


  df[f'{concat_list[0][:4]}_cat'] = df[concat_list[0]] + df[concat_list[1]]
  df = df.drop(concat_list[0], axis = 1)
  df = df.drop(concat_list[1], axis = 1)

  return df

In [54]:
#2018, 2019년에서 1234 와 567 질문이 한컬럼에 있어도 되는데 나뉘어져 있어서 하나로 합치는 작업을 함
meta2018 = column_merge(meta2018,col_set2018)
meta2019 = column_merge(meta2019,col_set2019)

In [55]:
#테스트데이터에서 bq1 질문에 21번을 표기한 답변이 없으므로 제거해버린다
meta2018 = meta2018.drop(['bq1__21'], axis = 1)

## 2-5. 저장

In [56]:
#마지막으로 결측치 확인
all_col_info(metas)

2017
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9104 entries, 0 to 9485
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   aq1_1   9104 non-null   int64
 1   aq1_2   9104 non-null   int64
 2   aq2_1   9104 non-null   int64
 3   aq2_2   9104 non-null   int64
 4   aq3_1   9104 non-null   int64
 5   aq3_2   9104 non-null   int64
 6   aq4_1   9104 non-null   int64
 7   aq4_2   9104 non-null   int64
 8   aq5_1   9104 non-null   int64
 9   aq5_2   9104 non-null   int64
 10  aq6_1   9104 non-null   int64
 11  aq6_2   9104 non-null   int64
 12  aq7_1   9104 non-null   int64
 13  aq7_2   9104 non-null   int64
 14  aq8_1   9104 non-null   int64
 15  aq8_2   9104 non-null   int64
 16  aq9_1   9104 non-null   int64
 17  aq9_2   9104 non-null   int64
 18  aq10_1  9104 non-null   int64
 19  aq10_2  9104 non-null   int64
 20  aq11_1  9104 non-null   int64
 21  aq11_2  9104 non-null   int64
 22  aq12_1  9104 non-null   int64
 23  aq12_2  9104 non-null   int64
 24  aq13_1  9104 non-null   int64
dtypes: int64(25)
memory usage: 1.8 MB
2017
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9104 entries, 0 to 9485
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   aq13_2  9104 non-null   int64
 1   aq14_1  9104 non-null   int64
 2   aq14_2  9104 non-null   int64
 3   aq15_1  9104 non-null   int64
 4   aq15_2  9104 non-null   int64
 5   aq16_1  9104 non-null   int64
 6   aq16_2  9104 non-null   int64
 7   aq17_1  9104 non-null   int64
 8   aq17_2  9104 non-null   int64
 9   aq18_1  9104 non-null   int64
 10  aq18_2  9104 non-null   int64
 11  aq19_1  9104 non-null   int64
 12  aq19_2  9104 non-null   int64
 13  aq20_1  9104 non-null   int64
 14  aq20_2  9104 non-null   int64
 15  aq21_1  9104 non-null   int64
 16  aq21_2  9104 non-null   int64
 17  aq22_1  9104 non-null   int64
 18  aq22_2  9104 non-null   int64
 19  aq23_1  9104 non-null   int64
 20  aq23_2  9104 non-null   int64
 21  aq24_1  9104 non-null   int64
 22  aq24_2  9104 non-null   int64
 23  aq25_1  9104 non-null   int64
 24  aq25_2  9104 non-null   int64
dtypes: int64(25)
memory usage: 1.8 MB
2017
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9104 entries, 0 to 9485
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   aq26_1  9104 non-null   int64
 1   aq26_2  9104 non-null   int64
 2   aq27_1  9104 non-null   int64
 3   aq27_2  9104 non-null   int64
 4   aq28_1  9104 non-null   int64
 5   aq28_2  9104 non-null   int64
 6   aq29_1  9104 non-null   int64
 7   aq29_2  9104 non-null   int64
 8   aq30_1  9104 non-null   int64
 9   aq30_2  9104 non-null   int64
 10  aq31_1  9104 non-null   int64
 11  aq31_2  9104 non-null   int64
 12  aq32_1  9104 non-null   int64
 13  aq32_2  9104 non-null   int64
 14  aq33_1  9104 non-null   int64
 15  aq33_2  9104 non-null   int64
 16  aq34_1  9104 non-null   int64
 17  aq34_2  9104 non-null   int64
 18  aq35_1  9104 non-null   int64
 19  aq35_2  9104 non-null   int64
 20  aq36_1  9104 non-null   int64
 21  aq36_2  9104 non-null   int64
 22  aq37_1  9104 non-null   int64
 23  aq37_2  9104 non-null   int64
 24  aq38_1  9104 non-null   int64
dtypes: int64(25)
memory usage: 1.8 MB
2017
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9104 entries, 0 to 9485
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   aq38_2  9104 non-null   int64
 1   aq39_1  9104 non-null   int64
 2   aq39_2  9104 non-null   int64
 3   aq40_1  9104 non-null   int64
 4   aq40_2  9104 non-null   int64
 5   aq41_1  9104 non-null   int64
 6   aq41_2  9104 non-null   int64
 7   bq1     9104 non-null   int64
 8   bq2     9104 non-null   int64
 9   bq3     9104 non-null   int64
 10  bq4     9104 non-null   int64
 11  bq5     9104 non-null   int64
 12  bq5_1   9104 non-null   int64
 13  bq6     9104 non-null   int64
 14  bq7     9104 non-null   int64
 15  bq8_1   9104 non-null   int64
 16  bq8_2   9104 non-null   int64
 17  bq8_3   9104 non-null   int64
 18  bq9     9104 non-null   int64
 19  bq10    9104 non-null   int64
 20  bq11    9104 non-null   int64
 21  bq12_1  9104 non-null   int64
 22  bq12_2  9104 non-null   int64
 23  bq12_3  9104 non-null   int64
 24  bq12_4  9104 non-null   int64
dtypes: int64(25)
memory usage: 1.8 MB
2017
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9104 entries, 0 to 9485
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bq12_5  9104 non-null   int64
 1   bq13    9104 non-null   int64
 2   bq14    9104 non-null   int64
 3   bq15_1  9104 non-null   int64
 4   bq15_2  9104 non-null   int64
 5   bq15_3  9104 non-null   int64
 6   bq16    9104 non-null   int64
 7   bq17    9104 non-null   int64
 8   bq18_1  9104 non-null   int64
 9   bq18_2  9104 non-null   int64
 10  bq18_3  9104 non-null   int64
 11  bq18_4  9104 non-null   int64
 12  bq18_5  9104 non-null   int64
 13  bq18_6  9104 non-null   int64
 14  bq18_7  9104 non-null   int64
 15  bq19    9104 non-null   int64
 16  bq20    9104 non-null   int64
 17  bq21    9104 non-null   int64
 18  bq22    9104 non-null   int64
 19  bq23    9104 non-null   int64
 20  bq24_1  9104 non-null   int64
 21  bq24_2  9104 non-null   int64
 22  bq24_3  9104 non-null   int64
 23  bq24_4  9104 non-null   int64
 24  bq24_5  9104 non-null   int64
dtypes: int64(25)
memory usage: 1.8 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9104 entries, 0 to 9485
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bq24_6    9104 non-null   int64
 1   bq24_7    9104 non-null   int64
 2   bq24_8    9104 non-null   int64
 3   bq25      9104 non-null   int64
 4   bq26      9104 non-null   int64
 5   bq27      9104 non-null   int64
 6   bq28      9104 non-null   int64
 7   bq29      9104 non-null   int64
 8   bq35      9104 non-null   int64
 9   bq36      9104 non-null   int64
 10  bq37      9104 non-null   int64
 11  bq38      9104 non-null   int64
 12  bq39_1    9104 non-null   int64
 13  bq39_2    9104 non-null   int64
 14  bq40      9104 non-null   int64
 15  bq41_1    9104 non-null   int64
 16  bq41_2    9104 non-null   int64
 17  bq41_3    9104 non-null   int64
 18  knowcode  9104 non-null   int64
dtypes: int64(19)
memory usage: 1.4 MB

2018
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9072 entries, 0 to 9071
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cq1     9072 non-null   int64
 1   cq2     9072 non-null   int64
 2   cq3     9072 non-null   int64
 3   cq4     9072 non-null   int64
 4   cq5     9072 non-null   int64
 5   cq6     9072 non-null   int64
 6   cq7     9072 non-null   int64
 7   cq8     9072 non-null   int64
 8   cq9     9072 non-null   int64
 9   cq10    9072 non-null   int64
 10  cq11    9072 non-null   int64
 11  cq12    9072 non-null   int64
 12  cq13    9072 non-null   int64
 13  cq14    9072 non-null   int64
 14  cq15    9072 non-null   int64
 15  cq16    9072 non-null   int64
 16  cq17    9072 non-null   int64
 17  cq18    9072 non-null   int64
 18  cq19    9072 non-null   int64
 19  cq20    9072 non-null   int64
 20  cq21    9072 non-null   int64
 21  cq22    9072 non-null   int64
 22  cq23    9072 non-null   int64
 23  cq24    9072 non-null   int64
 24  cq25    9072 non-null   int64
dtypes: int64(25)
memory usage: 2.1 MB
2018
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9072 entries, 0 to 9071
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cq26    9072 non-null   int64
 1   cq27    9072 non-null   int64
 2   cq28    9072 non-null   int64
 3   cq29    9072 non-null   int64
 4   cq30    9072 non-null   int64
 5   cq31    9072 non-null   int64
 6   cq32    9072 non-null   int64
 7   cq33    9072 non-null   int64
 8   cq34    9072 non-null   int64
 9   cq35    9072 non-null   int64
 10  cq36    9072 non-null   int64
 11  cq37    9072 non-null   int64
 12  cq38    9072 non-null   int64
 13  cq39    9072 non-null   int64
 14  cq40    9072 non-null   int64
 15  cq41    9072 non-null   int64
 16  cq42    9072 non-null   int64
 17  cq43    9072 non-null   int64
 18  cq44    9072 non-null   int64
 19  cq45    9072 non-null   int64
 20  cq46    9072 non-null   int64
 21  cq47    9072 non-null   int64
 22  cq48    9072 non-null   int64
 23  cq49    9072 non-null   int64
 24  cq50_1  9072 non-null   int64
dtypes: int64(25)
memory usage: 2.1 MB
2018
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9072 entries, 0 to 9071
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cq50_2  9072 non-null   int64
 1   cq50_3  9072 non-null   int64
 2   cq50_4  9072 non-null   int64
 3   cq50_5  9072 non-null   int64
 4   cq50_6  9072 non-null   int64
 5   cq50_7  9072 non-null   int64
 6   cq50_8  9072 non-null   int64
 7   iq1     9072 non-null   int64
 8   iq2     9072 non-null   int64
 9   iq3     9072 non-null   int64
 10  iq4     9072 non-null   int64
 11  iq5     9072 non-null   int64
 12  iq6     9072 non-null   int64
 13  bq1     9072 non-null   int64
 14  bq2     9072 non-null   int64
 15  bq3     9072 non-null   int64
 16  bq4     9072 non-null   int64
 17  bq5     9072 non-null   int64
 18  bq5_1   9072 non-null   int64
 19  bq6     9072 non-null   int64
 20  bq7     9072 non-null   int64
 21  bq8_1   9072 non-null   int64
 22  bq8_2   9072 non-null   int64
 23  bq8_3   9072 non-null   int64
 24  bq9     9072 non-null   int64
dtypes: int64(25)
memory usage: 2.1 MB
2018
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9072 entries, 0 to 9071
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bq10    9072 non-null   int64
 1   bq11    9072 non-null   int64
 2   bq12_1  9072 non-null   int64
 3   bq12_2  9072 non-null   int64
 4   bq12_3  9072 non-null   int64
 5   bq12_4  9072 non-null   int64
 6   bq12_5  9072 non-null   int64
 7   bq13    9072 non-null   int64
 8   bq14    9072 non-null   int64
 9   bq15    9072 non-null   int64
 10  bq16    9072 non-null   int64
 11  bq17    9072 non-null   int64
 12  bq18    9072 non-null   int64
 13  bq19    9072 non-null   int64
 14  bq20    9072 non-null   int64
 15  bq21    9072 non-null   int64
 16  bq221   9072 non-null   int64
 17  bq222   9072 non-null   int64
 18  bq223   9072 non-null   int64
 19  bq231   9072 non-null   int64
 20  bq232   9072 non-null   int64
 21  bq233   9072 non-null   int64
 22  bq234   9072 non-null   int64
 23  bq235   9072 non-null   int64
 24  bq241   9072 non-null   int64
dtypes: int64(25)
memory usage: 2.1 MB
2018
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9072 entries, 0 to 9071
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   bq242    9072 non-null   int64
 1   bq243    9072 non-null   int64
 2   bq244    9072 non-null   int64
 3   bq245    9072 non-null   int64
 4   bq25     9072 non-null   int64
 5   bq25_1   9072 non-null   int64
 6   bq26_1   9072 non-null   int64
 7   bq26_1a  9072 non-null   int64
 8   bq26_2   9072 non-null   int64
 9   bq26_2a  9072 non-null   int64
 10  bq26_3   9072 non-null   int64
 11  bq26_3a  9072 non-null   int64
 12  bq26_4   9072 non-null   int64
 13  bq26_4a  9072 non-null   int64
 14  bq27     9072 non-null   int64
 15  bq28     9072 non-null   int64
 16  bq34     9072 non-null   int64
 17  bq35     9072 non-null   int64
 18  bq36     9072 non-null   int64
 19  bq37     9072 non-null   int64
 20  bq38     9072 non-null   int64
 21  bq38_1   9072 non-null   int64
 22  bq38_2   9072 non-null   int64
 23  bq39     9072 non-null   int64
 24  bq41_1   9072 non-null   int64
dtypes: int64(25)
memory usage: 2.1 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9072 entries, 0 to 9071
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bq41_2    9072 non-null   int64
 1   bq41_3    9072 non-null   int64
 2   knowcode  9072 non-null   int64
dtypes: int64(3)
memory usage: 603.5 KB

2019
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8555 entries, 0 to 8554
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sq1     8555 non-null   int64
 1   sq2     8555 non-null   int64
 2   sq3     8555 non-null   int64
 3   sq4     8555 non-null   int64
 4   sq5     8555 non-null   int64
 5   sq6     8555 non-null   int64
 6   sq7     8555 non-null   int64
 7   sq8     8555 non-null   int64
 8   sq9     8555 non-null   int64
 9   sq10    8555 non-null   int64
 10  sq11    8555 non-null   int64
 11  sq12    8555 non-null   int64
 12  sq13    8555 non-null   int64
 13  sq14    8555 non-null   int64
 14  sq15    8555 non-null   int64
 15  sq16    8555 non-null   int64
 16  kq1_1   8555 non-null   int64
 17  kq1_2   8555 non-null   int64
 18  kq2_1   8555 non-null   int64
 19  kq2_2   8555 non-null   int64
 20  kq3_1   8555 non-null   int64
 21  kq3_2   8555 non-null   int64
 22  kq4_1   8555 non-null   int64
 23  kq4_2   8555 non-null   int64
 24  kq5_1   8555 non-null   int64
dtypes: int64(25)
memory usage: 1.7 MB
2019
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8555 entries, 0 to 8554
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kq5_2   8555 non-null   int64
 1   kq6_1   8555 non-null   int64
 2   kq6_2   8555 non-null   int64
 3   kq7_1   8555 non-null   int64
 4   kq7_2   8555 non-null   int64
 5   kq8_1   8555 non-null   int64
 6   kq8_2   8555 non-null   int64
 7   kq9_1   8555 non-null   int64
 8   kq9_2   8555 non-null   int64
 9   kq10_1  8555 non-null   int64
 10  kq10_2  8555 non-null   int64
 11  kq11_1  8555 non-null   int64
 12  kq11_2  8555 non-null   int64
 13  kq12_1  8555 non-null   int64
 14  kq12_2  8555 non-null   int64
 15  kq13_1  8555 non-null   int64
 16  kq13_2  8555 non-null   int64
 17  kq14_1  8555 non-null   int64
 18  kq14_2  8555 non-null   int64
 19  kq15_1  8555 non-null   int64
 20  kq15_2  8555 non-null   int64
 21  kq16_1  8555 non-null   int64
 22  kq16_2  8555 non-null   int64
 23  kq17_1  8555 non-null   int64
 24  kq17_2  8555 non-null   int64
dtypes: int64(25)
memory usage: 1.7 MB
2019
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8555 entries, 0 to 8554
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kq18_1  8555 non-null   int64
 1   kq18_2  8555 non-null   int64
 2   kq19_1  8555 non-null   int64
 3   kq19_2  8555 non-null   int64
 4   kq20_1  8555 non-null   int64
 5   kq20_2  8555 non-null   int64
 6   kq21_1  8555 non-null   int64
 7   kq21_2  8555 non-null   int64
 8   kq22_1  8555 non-null   int64
 9   kq22_2  8555 non-null   int64
 10  kq23_1  8555 non-null   int64
 11  kq23_2  8555 non-null   int64
 12  kq24_1  8555 non-null   int64
 13  kq24_2  8555 non-null   int64
 14  kq25_1  8555 non-null   int64
 15  kq25_2  8555 non-null   int64
 16  kq26_1  8555 non-null   int64
 17  kq26_2  8555 non-null   int64
 18  kq27_1  8555 non-null   int64
 19  kq27_2  8555 non-null   int64
 20  kq28_1  8555 non-null   int64
 21  kq28_2  8555 non-null   int64
 22  kq29_1  8555 non-null   int64
 23  kq29_2  8555 non-null   int64
 24  kq30_1  8555 non-null   int64
dtypes: int64(25)
memory usage: 1.7 MB
2019
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8555 entries, 0 to 8554
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kq30_2  8555 non-null   int64
 1   kq31_1  8555 non-null   int64
 2   kq31_2  8555 non-null   int64
 3   kq32_1  8555 non-null   int64
 4   kq32_2  8555 non-null   int64
 5   kq33_1  8555 non-null   int64
 6   kq33_2  8555 non-null   int64
 7   bq1     8555 non-null   int64
 8   bq2     8555 non-null   int64
 9   bq3     8555 non-null   int64
 10  bq4     8555 non-null   int64
 11  bq5     8555 non-null   int64
 12  bq5_1   8555 non-null   int64
 13  bq6     8555 non-null   int64
 14  bq7     8555 non-null   int64
 15  bq8_1   8555 non-null   int64
 16  bq8_2   8555 non-null   int64
 17  bq8_3   8555 non-null   int64
 18  bq9     8555 non-null   int64
 19  bq10    8555 non-null   int64
 20  bq11    8555 non-null   int64
 21  bq12_1  8555 non-null   int64
 22  bq12_2  8555 non-null   int64
 23  bq12_3  8555 non-null   int64
 24  bq12_4  8555 non-null   int64
dtypes: int64(25)
memory usage: 1.7 MB
2019
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8555 entries, 0 to 8554
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bq12_5  8555 non-null   int64
 1   bq13_1  8555 non-null   int64
 2   bq13_2  8555 non-null   int64
 3   bq13_3  8555 non-null   int64
 4   bq14_1  8555 non-null   int64
 5   bq14_2  8555 non-null   int64
 6   bq14_3  8555 non-null   int64
 7   bq14_4  8555 non-null   int64
 8   bq14_5  8555 non-null   int64
 9   bq15    8555 non-null   int64
 10  bq16_1  8555 non-null   int64
 11  bq16_2  8555 non-null   int64
 12  bq16_3  8555 non-null   int64
 13  bq16_4  8555 non-null   int64
 14  bq16_5  8555 non-null   int64
 15  bq17    8555 non-null   int64
 16  bq18_1  8555 non-null   int64
 17  bq18_2  8555 non-null   int64
 18  bq18_3  8555 non-null   int64
 19  bq18_4  8555 non-null   int64
 20  bq18_5  8555 non-null   int64
 21  bq18_6  8555 non-null   int64
 22  bq18_7  8555 non-null   int64
 23  bq18_8  8555 non-null   int64
 24  bq18_9  8555 non-null   int64
dtypes: int64(25)
memory usage: 1.7 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8555 entries, 0 to 8554
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bq19      8555 non-null   int64
 1   bq20      8555 non-null   int64
 2   bq21_1    8555 non-null   int64
 3   bq21_2    8555 non-null   int64
 4   bq21_3    8555 non-null   int64
 5   bq25      8555 non-null   int64
 6   bq26      8555 non-null   int64
 7   bq27      8555 non-null   int64
 8   bq28      8555 non-null   int64
 9   bq28_1    8555 non-null   int64
 10  bq28_2    8555 non-null   int64
 11  bq29      8555 non-null   int64
 12  bq30      8555 non-null   int64
 13  bq31_1    8555 non-null   int64
 14  bq31_2    8555 non-null   int64
 15  bq31_3    8555 non-null   int64
 16  knowcode  8555 non-null   int64
dtypes: int64(17)
memory usage: 1.2 MB

2020
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8122 entries, 0 to 8121
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   saq1_1   8122 non-null   int64
 1   saq1_2   8122 non-null   int64
 2   saq2_1   8122 non-null   int64
 3   saq2_2   8122 non-null   int64
 4   saq3_1   8122 non-null   int64
 5   saq3_2   8122 non-null   int64
 6   saq4_1   8122 non-null   int64
 7   saq4_2   8122 non-null   int64
 8   saq5_1   8122 non-null   int64
 9   saq5_2   8122 non-null   int64
 10  saq6_1   8122 non-null   int64
 11  saq6_2   8122 non-null   int64
 12  saq7_1   8122 non-null   int64
 13  saq7_2   8122 non-null   int64
 14  saq8_1   8122 non-null   int64
 15  saq8_2   8122 non-null   int64
 16  saq9_1   8122 non-null   int64
 17  saq9_2   8122 non-null   int64
 18  saq10_1  8122 non-null   int64
 19  saq10_2  8122 non-null   int64
 20  saq11_1  8122 non-null   int64
 21  saq11_2  8122 non-null   int64
 22  saq12_1  8122 non-null   int64
 23  saq12_2  8122 non-null   int64
 24  saq13_1  8122 non-null   int64
dtypes: int64(25)
memory usage: 1.6 MB
2020
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8122 entries, 0 to 8121
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   saq13_2  8122 non-null   int64
 1   saq14_1  8122 non-null   int64
 2   saq14_2  8122 non-null   int64

In [57]:
meta2017.to_csv('/gdrive/MyDrive/2조/data/코드정리/Data_preprocessed/2차 전처리 : 파이썬 작업/KNOW_2017_pre.csv',index = False)
meta2018.to_csv('/gdrive/MyDrive/2조/data/코드정리/Data_preprocessed/2차 전처리 : 파이썬 작업/KNOW_2018_pre.csv',index = False)
meta2019.to_csv('/gdrive/MyDrive/2조/data/코드정리/Data_preprocessed/2차 전처리 : 파이썬 작업/KNOW_2019_pre.csv',index = False)
meta2020.to_csv('/gdrive/MyDrive/2조/data/코드정리/Data_preprocessed/2차 전처리 : 파이썬 작업/KNOW_2020_pre.csv',index = False)